
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/Sudoko py project/v15/.suo
.vs/VSWorkspaceState.json
Sudoku_Generator/.vs/Sudoku_Generator/v16/.suo
Sudoku_Solver/Sudoku_Solver/.vs/Sudoku_Solver/v16/.suo
